<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulter membres</title>
</head>
<body>
<h1>Consultation des membres</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Enseigant</th>
        <th>Payement</th>
        <th>Certif.Medic.</th>
        <th>Numéro de licence</th>
        <th>Niveau</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="membre : ${membres}">
        <form th:action="@{/consulterMembres/} + ${membre.id}" method="post">
            <td th:text="${membre.id}">&nbsp;</td>
            <td th:text="${membre.nom}">&nbsp;</td>
            <td th:text="${membre.prenom}">&nbsp;</td>
            <td th:text="${membre.mail}"></td>
            <td th:text="${membre.adresse}"></td>
            <td>
                <!-- SI ENSEIGNANT -->
                <SELECT th:if="${membre.enseignant}" name="enseignant" size="1">
                    <OPTION selected>1
                    <OPTION>0
                </SELECT>
                <!-- SINON-->
                <SELECT th:if="${membre.enseignant != true}" name="enseignant" size="1">
                    <OPTION>1
                    <OPTION selected>0
                </SELECT>
            </td>
            <td>
                <!-- SI EN REGLE -->
                <SELECT th:if="${membre.statut == 'En règlege'}" name="statut" size="1">
                    <OPTION selected>En règlege
                    <OPTION>En retard de paiement
                </SELECT>
                <!-- SINON-->
                <SELECT th:if="${membre.statut != 'En règlege'}" name="statut" size="1">
                    <OPTION>En règlege
                    <OPTION selected>En retard de paiement
                </SELECT>
            </td>
            <td>
                <input th:name="dateCertif" type="date" th:value="${#dates.format(membre.dateCertif, 'yyyy-MM-dd')}">

            </td>
            <td>
                <input th:name="numLicence" type="text" th:value="${membre.numLicence}">
            </td>
            <td>
                <input th:name="niveau" type="number" th:value="${membre.niveau}">
            </td>
            <td>
                <div><input type="submit" value="Modifier"/></div>
            </td>
        </form>
    </tr>
    </tbody>
</table>
<div><a href="/">Retourner à l'accueil</a></div>
</body>
</html>