<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title><h1>Consultation des cours</h1></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Liste des cours</h1>
        </div>
        <div class="col text-center">
            <p><a class="btn btn-primary" href="/creerCours" role="button">Créer un cours</a></p>
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
            <tr class="table">
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">niveauCible</th>
                <th scope="col">idLieu</th>
                <th scope="col">duree</th>
                <th scope="col">nbPlacesOccupees</th>
                <th scope="col">listeMembres</th>
                <th scope="col">listeSeances</th>
                <th scope="col">cptIdSeance</th>
                <th scope="col">Plannifier</th>
            </tr>
            </thead>
            <tbody>
                <tr th scope="row":each="cours : ${listeCours}">
                    <td th:text="${cours.id}">&nbsp;</td>
                    <td th:text="${cours.nom}">&nbsp;</td>
                    <td th:text="${cours.niveauCible}">&nbsp;</td>
                    <td th:text="${cours.idLieu}">&nbsp;</td>
                    <td th:text="${cours.duree}">&nbsp;</td>
                    <td th:text="${cours.nbPlacesOccupees}">&nbsp;</td>
                    <td th:text="${cours.listeMembres}">&nbsp;</td>
                    <td th:text="${cours.listeSeances}">&nbsp;</td>
                    <td th:text="${cours.cptIdSeance}">&nbsp;</td>
                    <td><a class="btn btn-success" th:href="'/plannifierCours/'+${cours.id}" role="button">Plannifier</a></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div><a  class="btn btn-primary" href="/" role="button">Retourner à l'accueil</a></div>
</div>
</body>
</html>