<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulter membres</title>
</head>
<body>
<h1>Choisir un membre comme enseignant</h1>
<form th:action="@{/consulterMembres}" method="post">
    <div><label> Id : <input type="number" name="id"/> </label></div>
    <div><input type="submit" value="Désigner comme enseigant"/></div>
</form>
<h1>Consultation des membres</h1>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="membre : ${membres}">
        <td th:text="${membre.nom}">&nbsp;</td>
        <td th:text="${membre.prenom}">&nbsp;</td>
    </tr>
    </tbody>
</table>
<div><a href="/">Retourner à l'accueil</a></div>
</body>
</html>