<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un cours</title>
</head>
<body>
    <h1>Créer un cours</h1>
    <form th:action="@{/creerCours}" method="post">
        <div><label> Nom : <input type="text" name="nom"/> </label></div>
        <div><label> Niveau cible : <input type="number" name="niveauCible"/> </label></div>
        <div><label> Durée : <input type="number" name="duree"/> </label></div>
        <div><label> Jour du premier cours : <input type="date" name="jourPremierCours"/> </label></div>
        <div><input type="submit" value="Créer le cours"/></div>
    </form>
    <div><a href="/">Retourner à l'accueil</a></div>
</body>
</html>