<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription aux cours</title>
</head>
<body>
<h1>Liste des cours</h1>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Lieu</th>
        <th>duree</th>
        <th>nbPlacesOccupees</th>
        <th>S'inscrire</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cours : ${listeCours}">
        <!-- If no subscribe -->
        <div th:unless="${mapSubscribe.get(cours.id)}">
            <div th:if="${membre.niveau} == ${cours.niveauCible}">
                <div th:if="${cours.nbPlacesOccupees} <= 15">
                    <td th:text="${cours.nom}">&nbsp;</td>
                    <td th:text="${cours.idLieu}">&nbsp;</td>
                    <td th:text="${cours.duree}">&nbsp;</td>
                    <td th:text="${cours.nbPlacesOccupees}">&nbsp;</td>
                    <td><a th:href="'/inscriptionCours/'+${cours.id}+'/'+${membre.id}">Inscription</a></td>
                </div>
            </div>
        </div>
        <!-- Else if subscribe  -->
        <div th:if="${mapSubscribe.get(cours.id)}">
            <td th:text="${cours.nom}">&nbsp;</td>
            <td th:text="${cours.idLieu}">&nbsp;</td>
            <td th:text="${cours.duree}">&nbsp;</td>
            <td th:text="${cours.nbPlacesOccupees}">&nbsp;</td>
            <td><a th:href="'/desinscriptionCours/'+${cours.id}+'/'+${membre.id}">Désnscription</a></td>
        </div>
    </tr>
    </tbody>
</table>

<br>
<div><a href="/">Retourner à l'accueil</a></div>
</body>
</html>