<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistiques</title>
</head>
<body>
    <h1>Statistiques</h1>
    <ul>
        <li><label th:text="'Nombre de membres : ' + ${nbMembres}">&nbsp;</label></li>
        <li><label th:text="'Nombre d\'enseigants : ' + ${nbEnseignants}">&nbsp;</label></li>
        <li>
            <ul th:each="nivEnseigant : ${nivEnseigantsMap}">
                <li th:text="'Nombre d\'enseignants pour le niveau ' + ${nivEnseigant}"></li>
            </ul>
        </li>
        <li><label th:text="'Nombre de cours positionnés : ' + ${nbCoursPositionned}+'/'+${nbCours}"></label></li>
        <li><label th:text="'Nombre de cotisations réglés : '+${nbCotisationsOK}"></label></li>
        <li><label th:text="'Nombre de cotisations en attente : '+${nbCotisationsWaiting}"></label></li>
    </ul>
    <br>
    <div><a href="/">Retourner à l'accueil</a></div>
</body>
</html>