<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenue</title>
</head>
<body>
    <h1>Bienvenue</h1>

    <!-- Anonyme -->
    <div th:if="${ROLE_ANONYMOUS}">
        <ul>
            <li><a href="/inscriptionMembre">S'inscrire (membre)</a></li>
        </ul>
    </div>

    <!-- Secrétaire -->
    <div th:if="${ROLE_SECRETAIRE}">
        <h2>Secrétariat</h2>
        <ul>
            <li><a href="/consulterMembres">Consulter les membres</a></li>
        </ul>
    </div>

    <!-- Enseignants -->
    <div th:if="${ROLE_ENSEIGNANT}">
        <h2>Enseignants</h2>
        <ul>
            <li><a href="/consultationCours">Consulter les cours</a></li>
            <li><a href="/creerCours">Créer un cours</a></li>
        </ul>
    </div>

    <!-- Membre -->
    <div th:if="${ROLE_USER}">
        <h2>Membre</h2>
        <ul>
            <li><a href="/gestionProfil">Gérer son profil</a></li>
            <li><a href="/inscriptionCours">Inscription aux cours</a></li>
        </ul>
    </div>

    <!-- Président -->
    <div th:if="${ROLE_DIRECTEUR}">
        <h2>Président</h2>
        <ul>
            <li><a href="/statistiques">Statistiques</a></li>
        </ul>
    </div>

    <br>
    <div th:if="${ROLE_ANONYMOUS}">
        <a href="/login">Se connecter</a>
    </div>
    <div th:unless="${ROLE_ANONYMOUS}">
        <a href="/login?logout">Se déconnecter</a>
    </div>
</body>
</html>