<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenue</title>
</head>
<body>
<h1>Bienvenue</h1>
<p th:text="'Message: ' + ${welcome.message}" />
<div><a href="/inscriptionMembre">S'inscrire (membre)</a></div>
<!-- Secrétaire -->
<h2>Secrétariat</h2>
<div><a href="/consulterMembres">Consulter les membres</a></div>
<!-- Membre -->
<h2>Memmbre</h2>
<a href="/gestionProfil">Gérer son profil</a>


<a href="/login">Se connecter</a>
<a href="/signin">S'inscrire</a>
<!-- Membre -->
<a href="/inscriptionCours">S'inscrire aux cours</a>
<!-- Enseignant -->
<a href="/creerCours">Créer un cours</a>
<!-- Secrétaire -->
<a href="/gestionMembres">Gérer les membres</a>
<!-- Président -->
<a href="/statistiques">statistiques</a>
</body>
</html>